# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Operating System Files
.DS_Store
Thumbs.db

# Flask/Python cached files
.webassets-cache
.pytest_cache/
.mypy_cache/
